
.markdown-content-style
{

    > *
    {
        margin: 1.2em 0em;
    }

    TABLE
    {
        width: 100%;
    }

    TABLE, TH, TD
    {
        border: 1px solid rgb(210, 210, 210);
        border-collapse: collapse;
        padding: .3em .0em;
    }

    TH
    {
        background-color: rgb(227, 227, 227);

        // THはデフォルトでCENTERに並ぶので、--- だと中央に位置してしまいます。
        // それでは実態と異なるので ---指定の場合はCSSレベルで左寄せします。
        // 
        // ---  ->  <TH>
        // :--  ->  <TH align="left">
        &:not([align])
        {
            text-align: left;
        }
    }

    TD
    {
        background-color: rgb(246, 246, 246);
    }


    pre
    {
        max-height: 500px;
        overflow: auto;
    }

    .blog-card
    {
        width: 100%;
        border: 1px solid rgb(182, 182, 182);
        border-radius: 1em;
        overflow: hidden;

        >a
        {
            text-decoration: none;
            align-items: center;
            display: flex;
            justify-content: space-between;

            >div
            {
                padding: 1.2em;

                >div
                {
                    font-size: 1.0em;
                }

                >span
                {
                    font-size: 0.7em;
                }

                >*
                {
                    color: #111;
                    overflow: hidden;
                }
            }

            >img
            {
                width: 160px;
                height: 120px;
                object-fit: cover;
            }
        }
    }
}







